.header {
  width: 100%;
  padding: 1rem;
}

.footer {
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.main {
  max-width: 700px;
  margin: auto;
  padding: 1.5rem;
}

.brand {
  font-weight: 400;
}

.brand,
.link {
  color: #fff;
  text-decoration: none;
}

.link {
  margin: 0 2rem;
}
