* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
}

code {
  border-radius: 2px;
  background: #eee;
}

a {
  color: red;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #fff;
  }
  code {
    background: #222;
  }
}

p {
  margin: 1rem 0;
  font-size: 1.125rem;
}

pre code {
  background: none;
}
